body {
    /* background-color: #e1ebf4; */
    font-family: 'Times New Roman', Times, serif;
}

.header {
    text-align: center;
}

.avatar {
    width: 300px;
    height: 400px;
}

.header__title {
    font-size: 28px;
}
.header__subtitle {
    color: rgb(0, 202, 237);
}

main {
    border: 1px solid darkgray;
    text-align: center;
}

.skills ol {
    list-style: none;

}

.separator {
    width: 50%;
    height: 3px;
    background-color:rgb(131, 182, 233)
}

.video {
    width: 880px;
    height: 490px;
    border: none;
}

.ed__table {
    border-collapse: collapse;
    width: 100%;
}

.ed__table th,
.ed__table td {
    border: 1px solid black;
    padding: 10px;
}

.quote {
    font-size: 32px;
}

.form {
    width: 600px;
    margin: 0 auto;
}

.form__control {
    width: 100%;
}

.control--text {
    width: 300px;
}

.form__submit {
    display: block;
    margin: 0 auto;
}

footer {
    height: 100px;
    text-align: center;
    background-color: #e9ebec;
}

.contacts__link {
    text-decoration: none;
    color: black;
}